.start-card {
  position: relative;
  width: 360px;
  height: 640px;

  background: #ffffff;
  .body {
    position: absolute;
    width: 360px;
    height: 245px;
    left: 0px;
    top: 199px;
    .team-text {
      position: absolute;
      left: 4.72%;
      right: 4.44%;
      top: 0%;
      bottom: 77.14%;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.5px;

      color: #000000;
    }
    .team-or {
      position: absolute;
      left: 4.44%;
      right: 4.72%;
      top: 34.29%;
      bottom: 54.29%;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.5px;

      color: #000000;
    }
    .team-start-now {
      position: absolute;
      left: 4.44%;
      right: 4.72%;
      top: 57.14%;
      bottom: 20%;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.5px;

      color: #000000;
    }
    .start-btn {
      position: absolute;
      left: 28.33%;
      right: 28.33%;
      top: 85.31%;
      bottom: 0%;
      border-radius: 200px;
    }
  }
}
