<mat-card class="start-card fill-remaining-height justify-content-middle">
  <mat-card-content>
    <div class="body">
      <div *ngIf="session">
        <p class="text-team">
          Коллективные упражнения начнутся через
          <mh-start-time *ngIf="session"
            count="count" (ender)="redirectToExec($event)">
          </mh-start-time>
        </p>
        <p class="text-or">
          <span>или</span>
        </p>
      </div>
      <p class="text-start-now"> начните индивидуальные упражнения прямо сейчас </p>

      <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/exercises">Начать сейчас</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
