<mat-card>
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
     <div>Присылать уведомления только</div> 
    <mat-form-field>
      <mat-select placeholder="C" [(value)]="from" name="hf" (selectionChange)="onChange()">
        <mat-option *ngFor="let hf of hoursFrom" [value]="hf.value">
          {{hf.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="По" [(value)]="to" name="ht" (selectionChange)="onChange()">
        <mat-option *ngFor="let ht of hoursTo" [value]="ht.value">
          {{ht.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider>
    </mat-divider>
    <div><mat-slide-toggle [(checked)]="silentMode" (change)="onChange()">Режим «Не беспокоить»</mat-slide-toggle></div>
  </mat-card-content>
  <mat-card-actions>
      myHealth ver 0.1 Pre-Alpha
      Murano Hackathon 2018
  </mat-card-actions>
</mat-card>