<mat-card class="fill-remaining-height">
  <mat-card-content class="settings-content">
    <div class="settings-section">
      <p class="title-label">Присылать уведомления только</p>
      <mat-form-field>
        <mat-select placeholder="C" [(value)]="from" name="hf" (selectionChange)="onChange()">
          <mat-option *ngFor="let hf of hoursFrom" [value]="hf.value">
            {{hf.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="dash-seporator"> – </span>
      <mat-form-field>
        <mat-select placeholder="По" [(value)]="to" name="ht" (selectionChange)="onChange()">
          <mat-option *ngFor="let ht of hoursTo" [value]="ht.value">
            {{ht.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <p class="settings-section">
      <span class="setting-cols">
        <label class="setting-left-col">Режим «Не беспокоить»</label>
        <span class="setting-right-col">
          <mat-slide-toggle color="primary" [(checked)]="silenceMode"  (change)="onChange()"></mat-slide-toggle>
        </span>
      </span>
    </p>

    <mat-divider></mat-divider>
  </mat-card-content>
  <p class="settings-app-info">
      myHealth ver 0.1 Pre-Alpha<br>
      Murano Hackathon 2018
  </p>
</mat-card>
