<mat-horizontal-stepper linear (selectionChange)="stepChanged($event)" #stepper>
  <mat-step *ngFor="let step of steps; index as i" [completed]="i <= stepper.selectedIndex" [optional]="false" [editable]="false">
    <mat-card>
      <p class="step-instuctions">{{ step.instructions }}</p>
      <mh-progress-countdown
        [duration]="step.duration"
        [imageSrc]="step.imgUrl"
        (timeEnd)="nextStep()"
      ></mh-progress-countdown>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
<audio
  src="/assets/sounds/exercises.m4a"
  class="audio-control"
  #audioCtrl></audio>
