<mat-toolbar color="primary" [ngSwitch]="uiState">
  <div class="case-container" *ngSwitchCase="STATES.JOINED_USERS">
    <mat-icon>supervisor_account</mat-icon>
    <mh-people-count></mh-people-count>
    <div class="fill-remaining-space"></div>
    <a class="link-icon" routerLink="/start">
      <mat-icon>home</mat-icon>
    </a>
  </div>

  <div class="case-container" *ngSwitchCase="STATES.BACK_AND_SETTINGS">
    <a class="link-icon" routerLink="/start">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <div class="fill-remaining-space"></div>
    <a class="link-icon" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </a>
  </div>

  <div class="case-container" *ngSwitchCase="STATES.BACK_AND_SETTINGS_TITLE">
    <a class="link-icon" routerLink="/start">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span class="settings-title">Настройки</span>
  </div>

  <!-- STATES.LOGO_AND_SETTINGS -->
  <div class="case-container" *ngSwitchDefault>
    <span>myHealth</span>
    <div class="fill-remaining-space"></div>
    <a class="link-icon" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </a>
  </div>

</mat-toolbar>
